
<include file="Public:header"/>

<!--banner代码开始-->
<div class="banner">
    <ul class="51buypic">
        <li><a href="javascript:;"><img src="__PUBLIC__/Home/images/banner.jpg" width="1100" /></a></li>
        <li><a href="javascript:;"><img src="__PUBLIC__/Home/images/banner5.jpg" width="1100" /></a></li>
        <li><a href="javascript:;"><img src="__PUBLIC__/Home/images/banner6.jpg" width="1100" /></a></li>
       
    </ul>
    <a class="prev" href="javascript:void(0)"></a>
    <a class="next" href="javascript:void(0)"></a>
    <div class="num">
      <ul></ul>
    </div>
</div>
<script>
/*鼠标移过，左右按钮显示*/
$(".banner").hover(function(){
  $(this).find(".prev,.next").fadeTo("show",0.1);
},function(){
  $(this).find(".prev,.next").hide();
})
/*鼠标移过某个按钮 高亮显示*/
$(".prev,.next").hover(function(){
  $(this).fadeTo("show",0.7);
},function(){
  $(this).fadeTo("show",0.1);
})
$(".banner").slide({ titCell:".num ul" , mainCell:".51buypic" , effect:"fold", autoPlay:true, delayTime:700 , autoPage:"<li><a></a></li>" });
</script>
<!--banner代码结束-->

<!--最新推荐代码开始-->

<div class="home_ad">
    <div class="picScroll-left">
        <div class="ad_title">
            <span>最新上市</span>
            <div class="hd">
                <a class="next"></a>
                <ul></ul>
                <a class="prev"></a>
            </div>
        </div>
        <div class="bd">
            <ul class="picList da-thumbs" id="da-thumbs">
            <volist id="vo" name="goods" offset="0" length="8">
            <li><a href="{:U('Home/Goods/detail',array('id'=>$vo['id'],'isbn'=>$vo['isbn']))}"><img src="__PUBLIC__/Upload/Admin/Goods/{$vo.img}"><div class="bd_desc">{$vo.name}</div><div class="bd_money">￥{$vo.price}</div></a></li>
                </volist>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
$(".home_ad .picScroll-left").slide({
  titCell:".hd ul",
  mainCell:".bd ul",
  autoPage:true,
  effect:"left",
  autoPlay:true,
  scroll:4,
  vis:4,
  delayTime:1000
});
</script>
<!--小说开始-->
<div class="title">
<h2><a href="{:U('home/goods/book',array('id'=>2))}">小说</a></h2>
<a href="{:U('home/goods/book',array('id'=>2))}"><div class="more">MORE>></div></a>
</div>
<div class="star">
<ul>
<volist id="vo" name="fiction" offset="0" length="8">
<li>
<div class="star_up"><a href="{:U('Home/Goods/detail',array('id'=>$vo['id'],'isbn'=>$vo['isbn']))}"><img src="__PUBLIC__/Upload/Admin/Goods/{$vo.img}" /></a></div>
<h4><a href="{:U('Home/Goods/detail',array('id'=>$vo['id']))}">{$vo.name}</a></h4>
<p>￥{$vo.price}</p>
</li>
</volist>

</ul>
</div>
<!--小说结束-->
<!--人文社科开始-->
<div class="title">
<h2><a href="{:U('home/goods/book',array('id'=>4))}">人文社科</a></h2>
<a href="{:U('home/goods/book',array('id'=>4))}"><div class="more">MORE>></div></a>
</div>

<div class="fu">
 <ul>
    <volist name="society" id="vo" offset="0" length="4"> 
    <li>
       <a href="{:U('Home/Goods/detail',array('id'=>$vo['id'],'isbn'=>$vo['isbn']))}"><img src="__PUBLIC__/Upload/Admin/Goods/{$vo.img}" /></a>
       <div class="jieshao">{$vo.name}</div>
    </li>
   </volist>
 </ul>
</div>
<!--教育开始-->
<div class="title">
<h2><a href="{:U('home/goods/book',array('id'=>1))}">教育</a></h2>
<a href="{:U('home/goods/book',array('id'=>1))}"><div class="more">MORE>></div></a>
</div>

<div class="ban">
    <ul>
    <volist name="edu" id="vo" offset="0" length="4"> 
    <li>
     <a href="{:U('Home/Goods/detail',array('id'=>$vo['id'],'isbn'=>$vo['isbn']))}"><img src="__PUBLIC__/Upload/Admin/Goods/{$vo.img}" /></a>
    </li>
   </volist>
    </ul>
</div>

 <script type="text/javascript">
 $(function(){
   $('.fu li:nth-child(4n)').css('margin-right','0');
 $('.ban li:nth-child(4n)').css('margin-right','0');
});
  </script>
<!--教育结束-->

<include file="Public:footer"/>

